doctype html 
html   
        head 
            title="Register"
        body 
            h1 Register User 
            form(method="post")
                input(type="test" name="name" placeholder="Enter Name")
                br
                br
                input(type="email" name="email" placeholder="Enter Email")
                br
                br
                input(type="password" name="password" placeholder="Enter password")
                br
                br
                input(type="submit" value="Register")